
@model IEnumerable<Faculty_Information_System_MVC_Layer.Models.AdministratorVM>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/Style/StyleSheet3.css" />


<div class="row">
  <div class="col-sm-2">
    <div class="card" style="background-color: #343a40">
      <div class="card-body">
        <a asp-action="ShowUser" class="text-decoration-none text-white">Users</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card" style="background-color: #343a40">
      <div class="card-body">
        <a asp-action="ShowFac" class="text-decoration-none text-white">Faculties</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card" style="background-color: #343a40">
      <div class="card-body">
        <a asp-action="ShowDept" class="text-decoration-none text-white">Departments</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card" style="background-color: #343a40">
      <div class="card-body">
        <a asp-action="ShowDesig" class="text-decoration-none text-white">Designations</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card" style="background-color: #343a40">
      <div class="card-body">
        <a asp-action="ShowCourse" class="text-decoration-none text-white">Courses</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card" style="background-color: #343a40">
      <div class="card-body">
        <a asp-action="ShowSubject" class="text-decoration-none text-white">Subjects</a>
      </div>
    </div>
   </div>
</div>

<br/>

<div class="row">
  <div class="col-sm-2">
    <div class="card" style="background-color: #343a40">
      <div class="card-body">
        <a asp-action="ShowCourSub" class="text-decoration-none text-white">SubjCourse</a>
      </div>
    </div>
  </div>  
  <div class="col-sm-2">
    <div class="card" style="background-color: #343a40">
      <div class="card-body">
        <a asp-action="ShowCourTaught" class="text-decoration-none text-white">Courses Taught</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card" style="background-color: #343a40">
      <div class="card-body">
        <a asp-action="ShowDegree" class="text-decoration-none text-white">Degrees</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card" style="background-color: #343a40">
      <div class="card-body">
        <a asp-action="ShowGrant" class="text-decoration-none text-white">Grants</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card" style="background-color: #343a40">
      <div class="card-body">
        <a asp-action="ShowPublish" class="text-decoration-none text-white">Publications</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="card" style="background-color: #343a40">
      <div class="card-body">
        <a asp-action="ShowWork" class="text-decoration-none text-white">Work History</a>
      </div>
    </div>
  </div>
</div>

<br/>

@*=============================================================================================*@


<h1>Adiministrators</h1>

@*<div class="row">
  <div class="col-xs-2">
    <div class="card" style="background-color: #343a40">
      <div class="card-body">
        <a asp-action="Create" class="text-decoration-none text-white">New Admin</a>
      </div>
    </div>
  </div> 
</div>*@

<p>
    <button class="rounded-left btn-dark"><a asp-action="Create" class="text-decoration-none text-white">Create New Admin</a></button>
<br/></p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdministratorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactDetails)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.RoleLookupId)
            </th>*@

            @*<th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdministratorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactDetails)
            </td>
            @*<th>
                @Html.DisplayFor(modelItem => item.RoleLookupId)
            </th>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>*@
            <td>
                @Html.ActionLink("Update", "Edit", new { id=item.AdministratorId  })|
                @Html.ActionLink("Delete", "Delete", new {  id=item.AdministratorId  })

        </tr>
}
    </tbody>
</table>
