
@model IEnumerable<Faculty_Information_System_MVC_Layer.Models.AdministratorVM>

@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="~/Style/StyleSheet3.css" />

<table class="table">
    <thead>
        <tr>
            <td>
                <button class="rounded-pill btn-lg btn-outline-light"><a asp-action="ShowUser" class="text-decoration-none">Users</a></button>
            </td>
            <td>
                <button class="rounded-pill btn-lg btn-outline-light"><a asp-action="ShowFac" class="text-decoration-none">Faculties</a></button>
            </td>
            <td>
                <button class="rounded-pill btn-lg btn-outline-light"><a asp-action="ShowDept" class="text-decoration-none">Departments</a></button>

            </td>
            <td>
                <button class="rounded-pill btn-lg btn-outline-light"><a asp-action="ShowDesig" class="text-decoration-none">Designation</a></button>
                
            </td>
            <td>
                <button class="rounded-pill btn-lg btn-outline-light"><a asp-action="ShowCourse" class="text-decoration-none">Courses</a></button>
                
            </td>
            <td>
                <button class="rounded-pill btn-lg btn-outline-light"><a asp-action="ShowSubject" class="text-decoration-none">Subjects</a></button>

            </td>
        </tr>
        <tr>
            <td>
                 <button class="rounded-pill btn-lg btn-outline-light"><a asp-action="ShowCourTaught" class="text-decoration-none">Courses Taught</a></button>
                
            </td>
            <td>
                <button class="rounded-pill btn-lg btn-outline-light"><a asp-action="ShowDegree" class="text-decoration-none">Degrees</a></button>
                 
            </td>
            <td>
                <button class="rounded-pill btn-lg btn-outline-light"><a asp-action="ShowGrant" class="text-decoration-none">Grants</a></button>
                
            </td>
            <td>
                <button class="rounded-pill btn-lg btn-outline-light"><a asp-action="ShowPublish" class="text-decoration-none">Publications</a></button>

            </td>
            <td>
                <button class="rounded-pill btn-lg btn-outline-light"><a asp-action="ShowWork" class="text-decoration-none">Work Histories</a></button>

            </td>
        </tr>
    </thead>
</table>








<h1>Adiministrators</h1>

<p>
    <a asp-action="Create">Create New Admin</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdministratorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleLookupId)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdministratorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactDetails)
            </td>
            <th>
                @Html.DisplayFor(modelItem => item.RoleLookupId)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.IsActive)
            </td>
            <td>
                @Html.ActionLink("Update", "Edit", new { id=item.AdministratorId  }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.AdministratorId  })
            </td>
        </tr>
}
    </tbody>
</table>
