@model IEnumerable<Faculty_Information_System_MVC_Layer.Models.WorkHistoryVM>

<p>
    <a asp-action="WorkCreate">Create New</a>
</p>

<link rel="stylesheet" href="~/Style/StyleSheet3.css" />



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkHistoryId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Organisation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobBeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobResponsibilities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkHistoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Organisation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobBeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobResponsibilities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobType)
            </td>
            <td>
                @Html.ActionLink("Update", "WorkEdit", new { id=item.WorkHistoryId }) |

                @Html.ActionLink("Delete", "WorkDelete", new { id=item.WorkHistoryId })
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}