@model IEnumerable<Faculty_Information_System_MVC_Layer.Models.GrantVM>

    @{
    ViewData["Title"] = "Grant";
}

<link rel="stylesheet" href="~/Style/StyleSheet3.css" />




<p>
    <button class="rounded-left btn-dark"><a asp-action="GrantCreate" class="text-decoration-none text-white">Add New Entry</a></button>
<br/></p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GrantId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrantTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrantDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GrantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrantTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GrantDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "GrantEdit", new { id=item.GrantId }) |
                @Html.ActionLink("Delete", "GrantDelete", new {  id=item.GrantId })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <p>
    <button class="rounded-left btn-dark"><a asp-action="Index" class="text-decoration-none text-white">Back to Home</a></button>
<br/></p>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}