@model IEnumerable<Faculty_Information_System_MVC_Layer.Models.DegreeVM>

@{
    ViewData["Title"] = "ShowDegree";
}

<link rel="stylesheet" href="~/Style/StyleSheet3.css" />


<p>
    <a asp-action="DegreeCreate">Add New Degree</a>
</p>


<h1> Degree</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DegreeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacultyId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DegreeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DegreeYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacultyId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DegreeYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grade)
            </td>
            <td>
                @Html.ActionLink("Edit", "DegreeEdit", new { id=item.DegreeId }) |
                @Html.ActionLink("Delete", "DegreeDelete", new {  id=item.DegreeId })
            </td>
        </tr>
}
    </tbody>
</table>



<div>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}