@model IEnumerable<Faculty_Information_System_MVC_Layer.Models.SubjectVM>


@{
    ViewData["Title"] = "ShowSubject";
}

<link rel="stylesheet" href="~/Style/StyleSheet3.css" />

<p>
    <a asp-action="SubjectCreate">Add New Subject</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.ActionLink("Edit", "SubjectEdit", new { id=item.SubjectID }) |

                @Html.ActionLink("Delete", "SubjectDelete", new { id=item.SubjectID })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}