@model IEnumerable<Faculty_Information_System_MVC_Layer.Models.SubjectVM>


@{
    ViewData["Title"] = "ShowSubject";
}

<link rel="stylesheet" href="~/Style/StyleSheet3.css" />




<p>
    <button class="rounded-left btn-dark"><a asp-action="SubjectCreate" class="text-decoration-none text-white">Add New Subject</a></button>
<br/></p>





<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SubjectID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectName)
            </td>
            <td>
                @Html.ActionLink("Edit", "SubjectEdit", new { id=item.SubjectID }) |

                @Html.ActionLink("Delete", "SubjectDelete", new { id=item.SubjectID })
            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <p>
    <button class="rounded-left btn-dark"><a asp-action="Index" class="text-decoration-none text-white">Back to Home</a></button>
<br/></p>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}