@model IEnumerable<Faculty_Information_System_MVC_Layer.Models.CourseSubjectVM>



@{
    ViewData["Title"] = "ShowCourSub";
}

<link rel="stylesheet" href="~/Style/StyleSheet3.css" />



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseSubjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubjectId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseSubjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectId)
            </td>
            <td>

            </td>
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
