@model IEnumerable<Faculty_Information_System_MVC_Layer.Models.CourseVM>

@{
    ViewData["Title"] = "ShowCourse";
}

<link rel="stylesheet" href="~/Style/StyleSheet3.css" />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseCredits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeptId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourseCredits)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeptId)
            </td>
            
        </tr>
}
    </tbody>
</table>

<div>
    <a asp-action="Index">Back to Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}